.stylized-input {
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #333;
}

.btn-styled {
  font-size: 1.1rem;
  width: 10rem;
  max-height: 5rem;
  color: #fff;
  background-color: #7190ff;
  border-radius: 0.2rem;
  transition: all 0.3s ease-in-out;
}

.btn-styled:hover {
  color: #fff;
  background-color: #7f9bff;
}

.section-favourite {
  padding-left: 0;
  background-color: #f8f8f8;
}

.favourite-card {
  max-width: 28rem;
  background-color: #fff;
  box-shadow: 0 3px 7px 1px rgba(48, 48, 48, 0.1);
  font-size: 1rem;
}

h3 {
  color: #ababab;
}

@media (max-width: 768px) {
  .section-favourite {
    position: absolute;
    height: 100vh;
    z-index: 2;
  }

  .btn-show {
    position: absolute;
    right: 0;
    z-index: 3;
  }

  .btn {
    font-size: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.4rem;
  }
}
