.radio-group {
  display: inline-block;
}

.radio-group input[type='radio'] {
  display: none;
}

.radio-group label {
  display: inline-flex;
  font-size: 0.8rem;
  margin: 0.8rem;
  padding: 0.5rem 1rem;
  border: 2px #f8f8f8 solid;
  color: #ababab;
  cursor: pointer;
  border-radius: 0.4rem;
  /* user-select: none; */
}

/* Checked */
.radio-group input[type='radio']:checked + label {
  background: #f8f8f8;
  color: #333;
}

/* Hover */
.radio-group label:hover {
  color: #666;
}

/* Disabled */
.radio-group input[type='radio']:disabled + label {
  background: #efefef;
  color: rgb(151, 0, 0);
}

.custom {
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #333;
}

.card {
  background-color: #f8f8f8;
  border-radius: 1rem;
  border: none;
}

.card-body {
  padding: 1.2rem 0 0 0;
}

.fa-circle {
  color: #ffffff;
}

.fa-comment-alt {
  color: #ababab;
}

.fa-heart {
  color: red;
  transition: transform 0.3s ease-in-out;
}

.fa-heart:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.categorie {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  border-radius: 0.4rem;
}

.btn {
  font-size: 1.1rem;
  max-width: 10rem;
  color: #fff;
  background-color: #7190ff;
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: #7f9bff;
}

.sidebar {
  height: 100vh;
  background-color: #f8f8f8;
}

.favourite-card {
  max-width: 26rem;
  background-color: #fff;
  box-shadow: 0 4px 8px 1px rgba(48, 48, 48, 0.1);
}

.favourite-card p {
  font-size: 1rem;
}
