.stylized-input {
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  border: 1px solid #333;
}

.get-joke-btn {
  font-size: 1.1rem;
  width: 10rem;
  color: #fff;
  background-color: #7190ff;
  border-radius: 0.4rem;
  transition: all 0.3s ease-in-out;
}

.get-joke-btn:hover {
  color: #fff;
  background-color: #7f9bff;
}

.section-favourite {
  padding-left: 0;
  background-color: #f8f8f8;
}

.favourite-card {
  max-width: 28rem;
  background-color: #fff;
  box-shadow: 0 3px 7px 1px rgba(48, 48, 48, 0.1);
  font-size: 1rem;
}

h3 {
  color: #ababab;
}

@media (max-width: 768px) {
  .section-favourite {
  }
}
